[submodule "nozzle"]
	path = nozzle
	url = https://github.com/nozzle-io/nozzle.git
[submodule "deps/Syphon-Framework"]
	path = deps/Syphon-Framework
	url = https://github.com/Syphon/Syphon-Framework.git
